/*
#hero {
    background-image: linear-gradient(rgba(46, 87, 52, 0.8), rgba(46, 87, 52, 0.8)), url('/static/core/assets/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/*
.hero-text {
    color: white;
} */

/*
.hero-btn {
    color: #E1C16E;
    border-color: #E1C16E;
} */

/*
.btn-outline-primary:hover, .btn-outline-primary:active {
    color: #2E5734 !important;
    background-color: #E1C16E !important;
    border-color: #E1C16E !important;
} */